/*
*{
    border: 1px solid black;
}
    */

header {
    height: 200px;
}

main {
    min-height: 500px;
}

footer {
    height: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

.level1 {
    padding-top: 0.4em;
}

.level2 {
    font-size: 85%;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

    a:hover {
        font-weight: bold;
    }

/*thead{
    text-align: center;
    background-color: #64f6fc;
    color: darkgrey;
}
thead tr td{
    font-size: 140%;
    font-weight: bold;
}

tfoot{
    font-size: 80%;
    text-align: right;
}*/



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
