<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProjekt_Karamatic.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="WebProjekt_Karamatic/Views/Shared/_Layout.cshtml/:layout.cshtml.css asp-append-version="true" />
</head>
<body>

    @* der IHttpContextAccessor wird vom DI-Container injiziert
    => Zugriff aus Sessions möglich
    *@
    @inject IHttpContextAccessor _accessor

    @*3-spaltiges Layout*@
    <div class="container-fluid">
        <header class="row">
            @if (_accessor?.HttpContext?.Session.GetString("username") != null) {
                <p>
                    @_accessor?.HttpContext.Session.GetString("username")
                    @_accessor?.HttpContext.Session.GetInt32("age")
                    <a href="/Logout">Logout</a>
                </p>
            }
            else {
                <p>
                    Sessions sind noch nicht aktiv!
                </p>
            }
        </header>

        <main class="row">
            <nav class="col-2">
                @* partielle View hier einbinden*@
                <partial name="Navigation" />
            </nav>
            <content class="col-8">
                @RenderBody()
            </content>
            <aside class="col-2">
                Seitenbereich
            </aside>
        </main>

        <footer class="row">
            Fußbereich
        </footer>



    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
