<ul>
    <li class="level1">
        @* bei href wird der Controller (Start) und die Action (Index) angegeben*@
        <a href="/Start/Index">Startseite</a>
    </li
    <li class="level1">
        <a href="/User/Index">Benutzerverwaltung</a>
    </li>
    <li class="level2">
        <a href="/User/Users">alle Benutzer anzeigen</a>
    </li>
    <li class="level1">
        <a href="/MitLehrer/Index">Benutzer</a>
    </li>
    <li class="level2">
        <a href="/MitLehrer/OneUser">ein Benutzer</a>
    </li>
    <li class="level2">
        <a href="/MitLehrer/AllUsers">alle Benutzer</a>
    </li>
    <li class="level2">
        <a href="/MitLehrer/Registration">Registrierung</a>
    </li>
    <li class="level2">
        <a href="/MitLehrer/Login">Login</a>
    </li>
</ul>