<div class="left-sidebar">
<ul>
    <li class="level1">
        @* bei href wird der Controller (Start) und die Action (Index) angegeben*@
        <a href="/Start/Index">Startseite</a>
    </li>
    <li class="level1">
        <a href="/Calendar/Month">Monatsansicht</a>
    </li>
    <li class="level1">
        <a href="/Calendar/Week">Wochenansicht</a>
    </li>
    <li class="level1">
        <a href="/Calendar/Day">Tagesansicht</a>
    </li>
    <li class="level1">
        <a href="/User/Profile">Profil anzeigen/bearbeiten</a>
    </li>
    <li class="level1">
        <a href="/User/Settings">Einstellungen</a>
    </li>
    <li class="level1">
        <a href="/User/Logout">Abmelden</a>
    </li>
</ul>
</div>